body {
    color: #dddddd;
    background-color: #282828;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
}
 
h1 {
    color: #099DD7;
    font-size: 2em;
    padding: 10px 15px 7px;
    text-align: center;
}
 
form {
    background-color: #222222;
    padding: 20px;
    margin: 0px auto;
    width: 710px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
}
 
input {
    color: #dddddd;
    background-color: transparent;
    border: 0.5px solid #dddddd;
    border-radius: 0;
    outline: none;
    display: inline-block;
    height: 18px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 0.929em;
    line-height: 18px;
}
input:focus {
    border: 2px solid #099dd7;
    border-radius: 0;
}
 
#username {
    margin-left: 27px
}
 
button {
    border: none;
    font-weight: normal;
    color: #111111;
    background: #099dd7;
    padding: 9px 18px;
    font-size: 1.143em;
    line-height: 15px;
    display: block;
    cursor: pointer;
}
 
label:before {
    content: ' '; display: block;
}
